
td{
  vertical-align: middle;
  text-align: center;
  width: 60px;
  height: 60px;
  background-color: rgb(160, 154, 154);
  outline:solid rgb(60, 58, 58) ;
  justify-self: center;
}
.light-cell{
  background-color: rgb(243, 243, 243);
}
.selected{
  background-color: rgb(41, 78, 78);

}
.movePos {
  background: rgb(221, 142, 46);
}
.cellsmove{
  background: rgb(106, 132, 156);
}