td {
  vertical-align: middle;
  text-align: center;
  width: 60px;
  height: 60px;
  background-color: rgb(160, 154, 154);
  outline: solid rgb(36, 37, 39);
  justify-self: center;
}

.light-cell {
  background-color: rgb(243, 243, 243);
}

.selected {
  background-color: rgb(41, 78, 78);

}

.cellsmove {
  background: rgb(117, 158, 168);
}
.table{
  justify-self: center;
}

.table1 {
  margin: 0 auto;
  margin-top: 20px;
  border: 20px solid rgb(50, 80, 80);
  /* border-collapse: collapse; */
}